---
import Layout from '../layouts/Layout.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { Icon } from 'astro-icon';

const textGradientClass = 'font-bold text-transparent bg-clip-text bg-gradient-to-br from-orange-300 to-rose-600 dark:from-green-400 dark:to-cyan-600';

const socialLinks = [
  { text: 'LinkedIn', url: 'https://www.linkedin.com/in/jeroenwtf/', icon: 'linkedin' },
  { text: 'GitHub', url: 'https://github.com/jeroenwtf', icon: 'github' },
  { text: 'Twitter', url: 'https://twitter.com/jeroen_wtf', icon: 'twitter' },
  { text: 'Mastodon', url: 'https://m.stratonauts.co/@jeroen', icon: 'mastodon' },
  { text: 'Instagram', url: 'https://instagram.com/jeroenwtf', icon: 'instagram' },
]
---
<style>
  .pizza { animation:action 2s infinite ease-in-out }

  @keyframes action {
   0% {
    transform:translateY(0)
   }
   50% {
    transform:translateY(-12px)
   }
  }
</style>

<Layout title="Jeroen van Meerendonk - UX Engineer">
  <div class="container px-6 md:px-10 max-w-3xl relative lg:px-16 py-10 md:py-12 min-h-screen flex flex-col justify-center">
    <div class="flex justify-end mb-12">
      <ThemeToggle />
    </div>
    <img src="https://beta.jeroen.wtf/pizza.png" class="w-20 pizza mb-4 aspect-square" alt="A glourious flying pizza slice" title="Pizza yay">

    <p class="text-3xl sm:text-4xl lg:text-5xl dark:text-gray-100 lg:leading-[1.15] mb-10">Hello there! <br class="hidden lg:inline-block">My name is <strong class={textGradientClass}>Jeroen</strong> and <br class="hidden md:inline-block">I'm a <strong class={textGradientClass}>UX Engineer</strong>.</p>

    <div class="prose dark:prose-invert prose-headings:mb-4 prose-p:my-2 prose-a:font-medium">
      <div class="not-prose mt-4 mb-12">
        <ul class="flex gap-3 flex-wrap">
          {socialLinks.map(link => (
            <li>
              <a
                href={link.url}
                class="bg-gradient-to-br from-gray-200 to-gray-100 hover:from-gray-300 hover:to-gray-200 text-gray-700 hover:text-gray-900 dark:from-gray-700 dark:to-gray-600 dark:hover:from-gray-600 dark:hover:to-gray-500 dark:text-gray-200 dark:hover:text-white group flex items-center gap-2 text-sm block px-3 py-2 rounded"
                target="_blank"
                rel={`${link.text == 'Mastodon' ? 'me ' : ''}noopener noreferrer`}
                aria-label={`Visit my ${link.text} account`}
              >
                <Icon class="w-4 fill-gray-700 dark:fill-gray-400 group-hover:fill-gray-800 dark:group-hover:fill-white" alt={`${link.text}'s icon`} name={link.icon} />
                <span>{link.text}</span>
              </a>
            </li>
          ))}
        </ul>
      </div>

      <blockquote class="text-lg leading-normal" cite="https://dev.to/emmawedekind/ux-engineering-3hem">
        <p>A UX Engineer is a Front-End Engineer who sits on a cross-functional design team and helps facilitate collaboration between design and engineering.</p>
        <footer class="text-sm text-gray-500 mt-2">— Emma Bostian, <a target="_blank" href="https://dev.to/emmabostian/ux-engineering-3hem">What Is A UX Engineer?</a></footer>
      </blockquote>

      <p>I started as a freelance designer and developer, but in recent years I've focused on frontend development. This has given me a special perspective on how to approach a project and visually implement it effectively.</p>
      <p>I'm comfortable working with different teams, including Design, Content, and Engineering, to find the right solutions and deliver high-quality products.</p>
      <p>This helps to avoid unrealistic requirements and surprises, resulting in less frustration and better products. A solid design system is key to a smooth workflow, strong brand, and maintainable code.</p>

      <h3>Things I do when I'm not coding</h3>
      <p>I enjoy life off screen, doing photography (you can check my Instagram), playing music or hiking and climbing.</p>

      <h2 class="dark:text-gray-100">Coded for</h2>
      <div class="not-prose mb-10">
        <ul class="flex flex-wrap gap-x-6 md:gap-x-8 gap-y-3 sm:gap-y-4 mt-4">
          {['domestika', 'netbynet', 'cdmon', 'qustodio', 'mortensen', 'elsaperetti', 'mcdonalds', 'tapngo', 'cyneek'].map(place => (
            <li class="h-8 sm:h-12 relative opacity-80 hover:opacity-100 transition-opacity">
              <img class="h-8 sm:h-12 object-contain dark:opacity-0" src={`logos/light/${place}.png`} alt="" />
              <img class="h-8 sm:h-12 object-contain opacity-0 dark:opacity-100 absolute inset-0" src={`logos/dark/${place}.png`} alt="" />
            </li>
          ))}
        </ul>
      </div>

      <h2 class="dark:text-gray-100">Now</h2>
      <p>I wanted to focus on JavaScript, lately. Trying to make a couple of side projects with <a target="_blank" href="https://nextjs.org/">Next.js</a>, <a target="_blank" href="https://www.prisma.io/">Prisma</a> and <a target="_blank" href="https://trpc.io/">tRPC</a>.</p>
      <p>Had to find ways to disconnect so started to read fiction books again and playing videogames on the Steam Deck. Damn, amazing piece of technology. Kudos to Valve to make it so easy to tinker with it.</p>

      <h2 class="dark:text-gray-100">Get in touch</h2>
      <p>If you have any questions, just drop me a line in any social media or just...</p>
    </div>

    <div class="mt-4">
      <a class="inline-block bg-gradient-to-br from-orange-300 to-rose-600 dark:from-green-400 dark:to-cyan-600 text-white text-sm uppercase font-bold px-5 py-3 tracking-widest rounded" href="mailto:hola@jeroen.wtf">Send me an email</a>
    </div>

    <footer class="mt-12">
      <p class="italic">Sincerely,<br>Jeroen van Meerendonk</p>
    </footer>
  </div>
</Layout>
