---
import { Image } from '@astrojs/image/components';

const gameIds = '71,538,107315'

const options = {
  method: 'POST',
  headers: {'Content-Type': 'application/x-www-form-urlencoded'},
  body: new URLSearchParams({
    client_id: import.meta.env.TWITCH_CLIENT_ID,
    client_secret: import.meta.env.TWITCH_CLIENT_SECRET,
    grant_type: 'client_credentials'
  })
};

const accessToken = await fetch('https://id.twitch.tv/oauth2/token', options).then(response => response.json())

const games = await fetch("https://api.igdb.com/v4/games", {
  method: "post",
  headers: {
    'Content-Type': 'application/json',
    'Client-ID': import.meta.env.TWITCH_CLIENT_ID,
    'Authorization': `Bearer ${accessToken.access_token}`,
  },
  body: `fields name,cover.image_id; where id = (${gameIds});`,
})
  .then(response => response.json());
---
<style>
  img {
    @apply rounded h-28 w-auto max-w-none;
  }
</style>

<h4>Playing</h4>
<div class="flex gap-4 not-prose">
  {games.map(game => (
    <Image
      aspectRatio={0.75}
      width={400}
      format="jpeg"
      src={`//images.igdb.com/igdb/image/upload/t_cover_big/${game.cover.image_id}.jpg`}
      alt={game.name}
      title={game.name}
    />
  ))}
</div>
